<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Fernando Aguiar</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Tinos:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<!-- Component -->
	<header>
		<section id="icons">
			<ul>
				<li><i class="fa fa-facebook fa-lg"></i></li>
				<li><i class="fa fa-twitter fa-lg"></i></li>
				<li><i class="fa fa-instagram fa-lg"></i></li>
				<li><i class="fa fa-pinterest fa-lg"></i></li>
				<li><i class="fa fa-google-plus fa-lg"></i></li>
			</ul>
		</section>
		<nav>
			<section id="brand">
				<h1>
					<a href="#">TSC</a>
					<br>
					<small>Traffic Signs Company</small>
				</h1>
			</section>
			<section id="navli">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Contacts</a></li>
				</ul>
			</section>
		</nav>
	</header>
	<!-- End Component -->
	
</body>
</html>