<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Fernando Aguiar</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<!-- Component -->
	<header>
		<section>
			<h1>Luxury Hotel</h1>
			<h2>That will let you step<br>into celebrity's slippers</h2>
			<hr>
			<p>Each room at our hotel is decorated with great taste. Designers solutions<br>will impress you greatly. Each and every trifle is here for your comfort.<br>Room service personnel is perfectly trained.</p>
			<a href="#">Learn More</a>
		</section>
		<img id="burger" src="menu.png">
		<img id="line1" src="line.png">
		<img id="line2" src="line.png">
	</header>
	<!-- End Component -->
</body>
</html>