<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Fernando Aguiar</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Vidaloka' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section class="white">
		<h2>Who we are</h2>
		<img src="manlystare.jpg">
		<section>
			<p>The Language Center is a school which specialises in languages education. Since its establishment in 2000, this unique school has supported thousands of students to pursue their interest in language learning and to experience the joy of embracing another culture.</p>
			<p>The school was initially founded as a secondary school for students from all three sectors. In 2002 the school introduced its first classes for students from Reception to Year 7. Since then our primary classes have continued to grow in popularity and demand.</p>
		</section>
	</section>
	<section class="red">
		<div>
			<section>
				<h3>Our Mission</h3>
				<p>The Language Center aims to enhance access, choice and continuity in language learning for learners, through the provision of quality programs in a broad range of languages that complement and supplement languages programs offered in mainstream schools and ethnic schools.</p>
			</section>
			<section>
				<h3>Our Unique Context</h3>
				<p>Students come together to learn the language of their choice, which is not available in their own school. Lessons are held once a week in a friendly environment of committed professionals and motivated students. It provides a sustained focus and time for extending students’ learning through a wide range of activities.</p>
			</section>
		</div>
	</section>
	<!-- End Component -->
	
</body>
</html>