<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Fernando Aguiar</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section>
		<h3>Our Adventures</h3>
		<section id="row">
			<article>
				<img src="rafting.jpg">
				<a href="#">Rafting</a>
			</article>
			<article>
				<img src="mountains.jpg">
				<a href="#">Mountain Vistas</a>
			</article>
			<article>
				<img src="fishing.jpg">
				<a href="#">Fishing</a>
			</article>
			<article>
				<img src="backpacking.jpg">
				<a href="#">Backpacking</a>
			</article>
		</section>
		<img class="arrow" src="left-arrow.png">
		<img class="arrow" src="right-arrow.png">
	</section>
	<!-- End Component -->
	
</body>
</html>