<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Fernando Aguiar</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<!-- Component -->
	<footer>
		<section id="container">
			<section id="brandcopy">
				<h1>Family</h1>
				<p>&copy;2016 | <span id="pp">Privacy Policy</span></p>
			</section>
			<address>
				<p>Call us:</p>
				<p>800 <span id="second">2345 6789</span></p>
				<p>My Company , 4578 Marmora Road, Glasgow D04 89GR</p>
				<p>Email: <a href="#">info@demolink.org</a></p>
			</address>
			<section id="social">
				<ul>
					<li><img src="facebook.png"></li>
					<li><img src="google.png"></li>
					<li><img src="linkedin.png"></li>
					<li><img src="twitter.png"></li>
				</ul>
			</section>
		</section>
	</footer>
	<!-- End Component -->
</body>
</html>